
.alarmTitleWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  color: rgba(0, 0, 0, 0.9);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  .goBackButton {
    cursor: pointer;
    margin: 16px;
  }
}

