button.btnTabs {
    background-color: var(--base-color);
    border: 1px solid #2880FF;
    border-radius: 0 2px 2px 0;
    padding: 6px 12px;
    &:first-child {
        border-radius: 2px 0 0 2px;
    }
    color: #2880FF;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

button.activeBtn {
    background-color: #2780FF;
    color: var(--base-color);
}
