:root {
  --base-color: #fff;
  --main-color-status-1: #E9EFF6;
  --main-color-status-2: #FDF1DC;
  --main-color-status-3: #FCF0F2;
  --main-color-status-4: #E0ECE0;
  --main-color-red: #FF1919;
  --main-color-red: #FF1919;
}
