.button {
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

.okIcon {
  fill: #2DB528;
}

.text {
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}

.closeBtn {
  fill: #7F7F7F;
}

.timerBtns {
  color: #2880FF;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 18px;
}