.page {
  min-width: 1440px;
  .header {
    z-index: 999;
  }
  .content {
    z-index: 0;
  }
}

.toastContainer {
  width: auto;
  & > div {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.16);
    border-radius: 2px;
    padding: 16px 22px;
  }
}