.table {
    height: 100%;
}

.td {
    background: transparent !important;
}
.row {
    background: #E9EFF6;
    cursor: pointer;
    &:hover {
        background: #d8e2ef;
    }
}

.rtGroup {
    border-bottom: 1px solid #d6d6d6 !important;
}
